<div>
  <h1>Product list</h1>

  <ul id="productList" class="list-group">
    {{#each products}}
    <li class="list-group-item">{{name}}</li>
    {{/each}}
  </ul>

</div>

<div>
  <h2>New Product</h2>
  <form id="productForm" class="mt-3">

    <input type="text" id="name" name="name" placeholder="Name"><br>
    <input type="text" id="price" name="price" placeholder="Price"><br>

    <button type="submit" id="addButton" class="btn btn-success mt-3" >Add</button>
  </form>

</div>

{{!-- <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"
  integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script> --}}
<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.8/dist/sweetalert2.all.min.js"></script>

<script type="module">
  const serverAddress = 'ws://localhost:5050';
  const socketClient = io(serverAddress)
  const productList = document.getElementById('productList')
  const addButton = document.getElementById('addButton')
  const productForm = document.getElementById('productForm')


  socketClient.on('newProduct', data => {
    const li = document.createElement('li')
    li.textContent = `${data.name} ($ ${data.price})`;
    li.classList.add('list-group-item')
    productList.appendChild(li)
  })

  productForm.addEventListener('submit', (evt) => {
    evt.preventDefault()

    const name = document.getElementById('name').value
    const price = document.getElementById('price').value

    const process = await fetch('/api/products', {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify({ name, price })
    });
  });

</script>